* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-brand-primary: #1d99ff;
  --color-brand-secondary: #ff455b;
  
  --color-feedback-error: #f1526e;
  --color-feedback-info: #3da4f3;
  --color-feedback-success: #00c689;
  --color-feedback-warning: #fdbf35;

  --color-text-dark: #708aa1;
  --color-text-light: #aebdc9;
  
  --color-interface-light: #f1f4f6;
  --color-interface-dark: #d5e0ec;
  
  --color-common-light: #ffffff;
  --color-common-dark: #000000;

  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-default: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;
  --spacing-xxlarge: 50px;

}

body {
  font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: var(--color-interface-dark);
  min-height: 100vh;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}

main{
  background-color: var(--color-interface-light);
}

.header-item {
  display: flex;
  justify-content: space-between;
}

.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.title {
  line-height: 1.2;
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--color-text-light);
}

.subtitle {
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-brand-primary);
}

.container {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.form-task {
  margin-top: var(--spacing-large);
  width: 100%;
}

/* Adicionar tarefa */

.form-task-label {
  font-weight: 600;
  color: var(--color-text-dark);
}

.form-task-input {
  margin-top: var(--spacing-xsmall);
  width: 81%;
  height: var(--spacing-xxlarge);
  border: 1px solid var(--color-text-dark);
  border-radius: var(--spacing-xsmall);
  padding-top: var(--spacing-small);
}

.form-task-button {
  width: 17%;
  height: var(--spacing-xxlarge);;
  background-color: var(--color-brand-secondary);
  border-radius: var(--spacing-xsmall);
  color: var(--color-common-light);
}

/* Fim adicionar tarefa */

/* Inicio tarefas */

.background-tarefa{
  margin-top: var(--spacing-xlarge);
  padding-top: var(--spacing-xxlarge);
  width: 100%;
  height: 68.8vh;
  background-color: #f1f4f6;
  border-top-right-radius: var(--spacing-xlarge);
  border-top: 1px solid var(--color-text-dark);
}

.container-tarefa{
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacing-small);
}

.tarefa{
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  font-weight: 400;
}

.color-botoes-tarefa{
  color: var(--color-text-dark);
  margin-left: var(--spacing-default);
}

.task-feita{
  text-decoration: line-through;
}

/* Fim tarefas */
